@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
    --text: #151407;
    --background: #fcfcf6;
    }
}

/* kevinpowell infinite scroll video 11:01 marker */
/* 
.scroller {
    max-width: 95%;
}

.scroller_inner {
    padding-block: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"]{
    overflow: hidden;
    mask: linear-gradient();
}

.scroller[data-animated="true"] .scroller_inner{
    flex-wrap: nowrap;
} */